/* We are having some issues formatting the order summary. */

.order-summary{
	border: solid 5px orange;
	margin: 50px auto;
	width: 75%;
}

.order-summary ul{
	display: inline-block;
	list-style-type: none;
}

.ordered-item-prices li p{
	text-align: right;
}

.total{
	font-weight: bold;
	font-size: 1.2em;
}