/* We are having some issues formatting the order summary. */

.order-summary{
	position: relative;
	border: solid 5px orange;
	margin: 50px 0 50px 155px;
	width: 50%;
}

.order-summary ul{
	display: inline-block;
	list-style-type: none;
}

.ordered-items-prices{
	text-align: right;
	position: absolute;
	right: 50px;
}

.total{
	font-weight: bold;
	font-size: 1.2em;
}