
.order-summary{
	position: relative;
	border: solid 5px orange;
	margin: 50px 0 50px 155px;
	padding: 20px;
	width: 50%;
}

.item-name{
	padding: 10px 20px 10px 20px;
}

.price{
	text-align: right;
	padding: 10px 20px 10px 20px;
}

.total{
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	font-size: 1.2em;
}
