
fieldset{
	border: solid 5px orange;
	width: 600px;
	margin: 0 0 30px 100px;
}

input{
	margin-bottom: 15px;
}

select{
	margin-bottom: 15px;
}

.main-content{
	position: relative;
}

.order-summary{
	border: solid 5px orange;
	width: 300px;
	margin: 10px 100px 0 0;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

.item-name{
	padding: 5px 20px 5px 20px;
}

.price{
	text-align: right;
	padding: 5px 20px 5px 20px;
}

.total{
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	font-size: 1.2em;
}

#place-order-btn{
	margin: 50px 0 50px 100px;
	font-size: 25px;
}
