/* Comments */

.navigation{
	text-align: center;
	margin: 0;
	padding: 20px;
	background: #FFC65C;
}

.navigation li{
	display: inline-block;
}

.navigation li div{
	background-color: orange;
	width: 200px;
	text-align: center;
	color: white;
	padding: 2px 0;
}

a{
	color: white;
	text-decoration: none;
}

/*a:hover{
	background-color: #FCA000;
}*/

.row{
	width: 100%;
}

.proceed-btn{
	text-align: center;
	color: white;
	padding: 2px 0;
	background: orange;
	width: 200px;
	margin: 20px 0 20px 155px;
}

.footer{
	background-color: #FFC65C;
	padding: 30px 0;
	width: 100%;
	margin-top: 50px;
}

.footer p{
	color: white;
	text-align: center;
	margin: 0;
}