nav {
	margin-bottom: 35px;
}

.navigation{
	text-align: center;
	margin: 0;
	padding: 20px;
	background: #FFC65C;
}

.navigation li{
	display: inline-block;
}

.navigation li div{
	background-color: orange;
	width: 200px;
	text-align: center;
	color: white;
	padding: 2px 0;
}

a{
	color: white;
	text-decoration: none;
}

.row{
	width: 100%;
}

.increment-btn{
	border-radius: 5px;
	margin: 5px;
}

.decrement-btn{
	border-radius: 5px;
	margin: 5px;
}

* .inc-dec-input{
	text-align: center;
}

.inc-dec-input div{
	display: inline-block;
	border: solid 1px orange;
	padding: 7px 10px;
}

.inc-dec-input div p{
	padding: 0;
	margin: 0;
}

#total-items {
	text-align: center;
}

.proceed-btn{
	text-align: center;
	color: white;
	padding: 2px 0;
	background: orange;
	width: 200px;
	margin: 20px 0 20px 155px;
}

.footer{
	background-color: #FFC65C;
	padding: 30px 0;
	width: 100%;
	margin-top: 50px;
}

.footer p{
	color: white;
	text-align: center;
	margin: 0;
}
