/* Comments */

.navigation{
	text-align: center;
	margin: 0;
	padding: 20px;
	background: #FFC65C;
}

.navigation li{
	display: inline-block;
}

.navigation li div{
	background-color: orange;
	width: 200px;
	text-align: center;
	color: white;
	padding: 2px 0;
}

.row{
	width: 100%;
}

.footer{
	background-color: #FFC65C;
	padding: 30px 0;
	width: 100%;
}

.footer p{
	color: white;
	text-align: center;
	margin: 0;
}