
.row{
	padding-top: 50px;
	text-align: center;
}

.menu-item{
	display: inline-block;
	width: 300px;
	border: solid 5px orange;
	padding: 0 50px 50px 50px;
	margin: 0 50px 50px 50px;
	text-align: center;
}

.menu-item img{
	width: 250px;
	height: 150px;
}

.increment-btn{
	border-radius: 5px;
	margin: 5px;
}

.decrement-btn{
	border-radius: 5px;
	margin: 5px;
}

.inc-dec-input div{
	display: inline-block;
	border: solid 1px orange;
	padding: 7px 10px;
}

.inc-dec-input div p{
	padding: 0;
	margin: 0;
}

.add-btn{
	background-color: orange;
	color: white;
	width: 250px;
	height: 40px;
	margin: 0 auto;
}
