/* Comments */

.navigation{
	text-align: center;
}

.navigation li{
	display: inline-block;
}

.navigation li div{
	background-color: blue;
	padding: 10px;
	height: 50px;
	width: 100px;
}

.navigation li div p{
	text-align: center;
	color: white;
}

.row{
	padding-top: 100px;
	text-align: center;
}

.menu-item{
	display: inline-block;
	width: 300px;
	border: solid 5px blue;
	padding: 0 50px 50px 50px;
	margin: 0 50px 50px 50px;
	text-align: center;
}

.add-btn{
	background-color: orange;
	color: white;
	width: 250px;
	height: 40px;
	margin: 0 auto;
}