/* Comments */

.navigation{
	text-align: center;
}

.navigation li{
	display: inline-block;
}

.navigation li div{
	background-color: orange;
	width: 200px;
	text-align: center;
	color: white;
	padding: 2px 0;
}

.row{
	padding-top: 50px;
	text-align: center;
}

.menu-item{
	display: inline-block;
	width: 300px;
	border: solid 5px orange;
	padding: 0 50px 50px 50px;
	margin: 0 50px 50px 50px;
	text-align: center;
}

.inc-dec-input div{
	display: inline-block;
	border: solid 1px orange;
	padding: 7px 10px;
}

.inc-dec-input div p{
	padding: 0;
	margin: 0;
}

.add-btn{
	background-color: orange;
	color: white;
	width: 250px;
	height: 40px;
	margin: 0 auto;
}

.footer{
	background-color: orange;
	padding: 30px 0;
	width: 100%;
}

.footer p{
	color: white;
	text-align: center;
	margin: 0;
}