<html>

<head>
	<link type="text/css" rel="stylesheet" href="stylesheets/GeneralStyle.css"/>
	<link type="text/css" rel="stylesheet" href="stylesheets/MessageStyle.css"/>
	<script src="javascripts/jquery-3.1.1.min.js"></script>
	<script src="javascripts/js.cookie.js"></script>
	<script src="javascripts/globalInfoAndFunctions.js"></script>
</head>

<body>
	<!--Navigation-->
	<nav>
		<ul class="navigation">
			<!--<li>
				<a href="#"><div>
					<h1>Home</h1>
				</div></a>
			</li>
			<li>
				<a href="#"><div>
					<h1>About</h1>
				</div></a>
			</li>-->
			<li>
				<a href="index.html"><div>
					<h1>Menu</h1>
				</div></a>
			</li>
			<li>
				<a href="Cart.html"><div id="cart-btn">
					<h1>Cart (0)</h1>
				</div></a>
			</li>
			<li>
				<a href="Account.html"><div id="account-btn">
					<h1>Hello. Sign in!</h1>
				</div></a>
			</li>
		</ul>
	</nav>
	<!--End of Navigation-->

	<section class="main-content">
  <h2 class="error-message"><%= message %></h2>
	</section>

	<!--Footer-->
	<div class="footer">
		<p>Email: email@gmail.com</p>
		<p>Phone: 425-298-1984</p>
	</div>

</body>

</html>
