
.row{
	padding-top: 50px;
	text-align: center;
}

.menu-item{
	display: inline-block;
	width: 300px;
	border: solid 5px orange;
	padding: 0 50px 50px 50px;
	margin: 0 50px 50px 50px;
	text-align: center;
}

.menu-item img{
	width: 250px;
	height: 150px;
}

.add-btn{
	background-color: orange;
	color: white;
	width: 250px;
	height: 40px;
	margin: 0 auto;
}
